

/* .email-details {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "a h"
        "a m";
}


.email-details .header-EIndex {
    grid-area: h;
}

.Emailemail-detailsIndex .aside-EIndex {
    grid-area: a;
}

.email-details .main-EIndex {
    grid-area: m;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
} */