

/* .email-details {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "a h"
        "a m";
}


.email-details .header-EIndex {
    grid-area: h;
}

.Emailemail-detailsIndex .aside-EIndex {
    grid-area: a;
}

.email-details .main-EIndex {
    grid-area: m;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
} */


.email-details {
background-color: white;
padding: 1em;
}

.email-details h1 {
    font-weight: 600;
    font-size: 1.6em;
    line-height: 2;
}

.email-details p {
    line-height: 2;
    margin-block: 0.5em;
    font-size: 1em;
}

.email-from {
    font-weight: 600;
}

.email-details .trash-btn, .email-details .back-btn {
    border: none;
    background-color: white;
    margin: 0.5em;
    padding: 0.7em 0.7em 0.5em 0.7em;
    border-radius: 20px;
}

.email-details .trash-btn:hover, .email-details .back-btn:hover {
    background-color: #F2EDEE;
}

.email-details .icon-btn {
    color: #474A49;
    width: 1.1em;
    height: 1.1em;
}

