.home {
    text-align: center;
}

.home h1 {
    font-size: 40px;
    margin: 10px;
}

.home img {
    width: 500px;
}

.home p {
    font-size: 16px;
    line-height: 2;
}

.home button {
    background-color: #d3e3fd;
    font-weight: 500;
    color: #001d35;
    padding: 1em 2em;
    border-radius: 30px;
    border: none;
    margin: 2%;
    font-size: 14px;
}

.home button:hover {
    background-color: #c2d7f9;

}

.home .createBy {
    /* color:  #dcd9d9; */
    /* font-size: 14px; */
}