
/* .email-preview > a .email:first-child {
  border-top: 1.5px solid #EDEDED;
} */

.email-read {
    background-color:#F2F6FC;
    border-bottom: 1.5px solid #EDEDED;
    padding: 0.6em;
    /* border-radius: 4px; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 0.2fr 1fr 3fr 0.5fr;
    grid-template-areas: "star from subject date";
    gap: 5px;
    /* transition: background-color 0.3s, box-shadow 0.3s, font-weight 0.3s; */
    font-weight: 400; 
    height: 40px;
}

.email-unread {
    background-color: #FDFDFD;
    border-bottom: 1.5px solid #EDEDED;
    padding: 0.6em;
    /* border-radius: 4px; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 0.2fr 1fr 3fr 0.5fr;
    grid-template-areas: "star from subject date";
    gap: 5px;
    /* transition: background-color 0.3s, box-shadow 0.3s, font-weight 0.3s; */
    font-weight: 500;
    height: 40px;
}

.email-unread:hover, .email-read:hover {
    /* background-color: white; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    /* box-shadow: inset 1px 0 0 #dadce0,
            inset -1px 0 0 #dadce0,
            0 1px 1px 0 rgba(60, 64, 67, 0.1),
            0 1px 2px 1px rgba(60, 64, 67, 0.07); */
    text-decoration: none;
}


.email-read > span, .email-unread > span {
    text-decoration: none;
}

.color-star, .uncolor-star:hover{
  color: #ffc107;
      /* cursor: pointer; */
}

.uncolor-star{
  color: #c1c1c1;
  /* cursor: pointer; */
}

  .email-from {
    grid-area: from;
  }

  .email-subject {
    grid-area: subject;
  }

  .email-date {
    grid-area: date;
    text-align: right;
    padding-inline-end: 0.5em;
    display: block;
  }


  .delete-btn {
    display: none;
    cursor: pointer;
    grid-area: date;
    border: none;
    background-color: #f2edee00;
    padding: 0.4em 0.5em 0.2em 0.5em;
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
  }

  .delete-btn:hover {
    background-color: #e0e0e4;
  }
  

.email-read:hover .email-date,
.email-unread:hover .email-date {
display: none;
}

.email-read:hover .delete-btn,
  .email-unread:hover .delete-btn {
  display: block;
}

.email-preview a:hover {
  text-decoration: none;
}

