
.EmailFolderList{
    /* padding: 3%; */
    /* background-color: antiquewhite; */
    height: 100vh;
    padding-right: 4%;
}


.EmailFolderList .btn-compose{
    background-color: #C2E7FF;
    /* padding: 1em 2em; */
    padding: 1.2em 2.2em 1.2em 1.2em;
    border-radius: 15px;
    border: none;
    margin-bottom: 0.5em;
    /* margin-left: 0px; */
    color: #001d35;
    display: flex;
    align-items: center;
    font-weight: 500;
}

/* .btn-compose > .icon-list {
    margin-inline-end: 10px;
} */

.EmailFolderList .btn-compose:hover {
    background-color: #b3ddf9;
    box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000;
}

.EmailFolderList hr {
    width: 90%;
    border: 1px solid #dcd9d9;
    /* padding-right: 8%; */
    float: left;
}

.buttonListFolder button{
    width: 95%;
    display: block;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    /* margin: 0 auto; */
    /* border-radius: 30px; */
    border-radius: 0 30px 30px 0;
    border: none;
    background-color: #F6F8FC;
    text-align: left;
    color: #202124;
    /* display: flex; */
    align-items: center;
    
}

.buttonListFolder button:hover {
    background-color: #EAEBEF; 
}

.buttonListFolder .active, .buttonListFolder .active:hover {
    background-color: #d3e3fd;
    font-weight: 500;
    color: #001d35;
}



.inbox-count {
    float: right;
}

.icon-list {
    margin-inline-end: 10px;
    color: #3a3a3a;
}